# Project 1: Explore Weather Trends

SÃ£o Paulo, 21 February of 2019<br>
Felipe Mahlmeister

## Table of Contents

1. [Summary](#summary)<br>
2. [Extracting the Data](#extract)<br>
3. [Analysis, Modeling, and Validation](#analysis)<br>
4. [Conclusion](#conclusion)<br>

<a id='summary'></a>
## 1. Summary

In this project, I will analyze local and global temperature data and compare the temperature trends where I live to overall global temperature trends.

<a id='extract'></a>
## 2. Extracting the Data

Using the SQL Workspace, I was able to extract from the database all the information needed to start my project.
The temperature data for the world as well as for the closest big city to where I live were exported using SQL language, and the results were downloaded as CSV files.
Follows below the steps that I took to extract and collect the data.

Step 1:
Using the following code, I could identify which cities in the list could be the nearest city of mine (Sao Paulo). The nearest and the chosen was Guarulhos, which is 10 km close to where I live.

>SELECT *<br>
FROM city_list<br>
WHERE country = 'Brazil';

Step 2:
Knowing that Guarulhos is the nearest city, I could extract the average temperatures for each city by year.

>SELECT *<br>
FROM city_data<br>
WHERE country = 'Brazil' AND city = 'Guarulhos';

Step 3:
To compare the average temperatures for the chosen city with the global temperatures, I extracted the following information

>SELECT *<br>
FROM global_data;