# Project 4: Communicate Data Findings

São Paulo, 15 June of 2019<br>
Felipe Mahlmeister

## Table of Contents

1. [Summary](#summary)<br>
2. [Extracting the Data](#extract)<br>
3. [Analysis, Modeling, and Validation](#analysis)<br>
4. [Conclusion](#conclusion)<br>

<a id='summary'></a>
## 1. Summary

In this project, I will analyze local and global temperature data and compare the temperature trends where I live to overall global temperature trends.

<a id='summary'></a>
## 2. Preliminary Wrangling

> Briefly introduce your dataset here.

The data

The data consists of flight arrival and departure details for all commercial flights within the USA, from October 1987 to April 2008. This is a large dataset: there are nearly 120 million records in total, and takes up 1.6 gigabytes of space compressed and 12 gigabytes when uncompressed.

In [3]:
# import all default packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from urllib.request import urlretrieve
import glob

# import my packages
from jupyterworkflow.data import get_url
from jupyterworkflow.data import get_download_and_unzip
from jupyterworkflow.data import get_flights_data

%matplotlib inline

In [4]:
# Choose the range of years you want to download
start_year = 1987
end_year = 2008

In [ ]:
url, filepath = get_url(start_year, end_year)
get_flights_data(url, filepath)

In [7]:
download_list = glob.glob('source/*.csv')
download_list.sort()

In [11]:
df = pd.read_csv('source/2008.csv')

In [13]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009728 entries, 0 to 7009727
Data columns (total 29 columns):
Year                 int64
Month                int64
DayofMonth           int64
DayOfWeek            int64
DepTime              float64
CRSDepTime           int64
ArrTime              float64
CRSArrTime           int64
UniqueCarrier        object
FlightNum            int64
TailNum              object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin               object
Dest                 object
Distance             int64
TaxiIn               float64
TaxiOut              float64
Cancelled            int64
CancellationCode     object
Diverted             int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtypes: float64(14), int64(10), object(5)
memory usage: 3.0 GB

In [14]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [15]:
df.loc[:,'UniqueCarrier'].unique()

array(['WN', 'XE', 'YV', 'OH', 'OO', 'UA', 'US', 'DL', 'EV', 'F9', 'FL',
       'HA', 'MQ', 'NW', '9E', 'AA', 'AQ', 'AS', 'B6', 'CO'], dtype=object)

In [18]:
df.sample(20)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2899954,2008,5,4,7,1953.0,2000,2321.0,2300,AA,1522,...,5.0,23.0,0,NaN,0,0.0,0.0,21.0,0.0,0.0
732486,2008,2,8,5,NaN,638,NaN,835,YV,7143,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
5102717,2008,9,26,5,1152.0,1145,1406.0,1344,US,1813,...,5.0,41.0,0,NaN,0,0.0,0.0,15.0,0.0,7.0
4719479,2008,8,25,1,617.0,620,851.0,900,AA,400,...,9.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
316061,2008,1,26,6,604.0,615,743.0,757,DL,717,...,7.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4294723,2008,8,21,4,1454.0,1455,1459.0,1505,WN,22,...,5.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3367087,2008,6,26,4,35.0,2305,203.0,40,FL,525,...,5.0,11.0,0,NaN,0,0.0,0.0,0.0,0.0,83.0
3826226,2008,7,29,2,1101.0,1107,1224.0,1236,OO,5751,...,2.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5860874,2008,10,21,2,1830.0,1840,2009.0,2015,AA,1703,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3857057,2008,7,28,1,630.0,600,723.0,705,UA,796,...,7.0,8.0,0,NaN,0,18.0,0.0,0.0,0.0,0.0
2922705,2008,5,9,5,1116.0,1115,1323.0,1342,AS,252,...,6.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5713918,2008,10,2,4,935.0,940,942.0,1001,FL,536,...,2.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2053053,2008,4,8,2,1601.0,1600,1826.0,1831,US,598,...,5.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1494921,2008,3,27,4,1210.0,1210,1513.0,1512,DL,80,...,7.0,29.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
163051,2008,1,21,1,1416.0,1416,1557.0,1548,OH,5628,...,3.0,28.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3632441,2008,7,11,5,845.0,845,1337.0,1335,WN,468,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2440032,2008,5,18,7,1903.0,1900,2038.0,2045,WN,1567,...,6.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6107088,2008,11,4,2,1549.0,1551,1630.0,1631,OO,5721,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4598610,2008,8,11,1,734.0,740,1214.0,1235,FL,300,...,8.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1539359,2008,3,9,7,2347.0,2255,104.0,18,FL,749,...,4.0,10.0,0,NaN,0,0.0,0.0,0.0,0.0,46.0

In [ ]:
download_list = glob.glob('source/*.csv')

In [ ]:
download_list.sort()

In [ ]:
download_list[-1:]

In [ ]:
df = pd.concat([pd.read_csv(f, encoding='latin-1') for f in download_list[:-1]], ignore_index = True)

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
# Calculate the time of execution
#start_3 = time.time()

#data = pd.read_csv(filepath[:-4])

# Calculate the time of execution
#end_3 = time.time()

#print('read df - execution time: ',end_3 - start_3, 'seconds')
#print('read df - execution time: ',(end_3 - start_3)/60, 'minutes')
#print('-----------------------------------------------------')
#print('total execution time: ',(end_1+end_2+end_3)-(start_1+start_2+start_3), 'seconds')
#print('total execution time: ',((end_1+end_2+end_3)-(start_1+start_2+start_3))/60, 'minutes')

### What is the structure of your dataset?

> Your answer here!

### What is/are the main feature(s) of interest in your dataset?

> Your answer here!

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> Your answer here!

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!